<app-header></app-header>
<div class="container">
  <table id="cart" class="table table-hover table-condensed">
    <thead>
    <tr>
      <th style="width:50%">Product</th>
      <th style="width:10%">Price</th>
      <th style="width:8%">Quantity</th>
      <th style="width:10%"></th>
    </tr>
    </thead>
    <tbody *ngFor="let product of products">
    <tr>
        <td data-th="Product" >
          <div class="row">
            <div class="col-sm-2 hidden-xs"><img src="{{product.product.ProductPicUrl}}" alt="..." class="img-responsive"/></div>
            <div class="col-sm-10">
              <h4 class="nomargin">{{product.product.Name}}</h4>
              <p>{{product.product.Description}}</p>
            </div>
          </div>
          <td data-th="Price">${{product.product.Price}}</td>
          <td data-th="Quantity">
            <input type="number" class="form-control text-center" value="1">
          </td>
    </tr>

    </tbody>
    <tfoot>

    <tr>
      <td><a [routerLink]="['/']" class="btn btn-warning"><i  class="fa fa-angle-left"></i> Continue Shopping</a></td>
      <td colspan="2" class="hidden-xs"></td>
      <td><a [routerLink]="['/checkout']" class="btn btn-success btn-block" >Checkout <i class="fa fa-angle-right"></i></a></td>
    </tr>
    </tfoot>
  </table>
</div>

